*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* border: 1px solid red; */
}

body, table{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

body:after {
  content: "";
  position: absolute;
  /* bottom: -200px; */
  display: block;
  width: 1px;
  height: 1px;
  background: url('./assets/img/bg_answer__right.png') no-repeat center center;
  opacity: 0;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  /* bottom: -200px; */
  width: 1px;
  height: 1px;
  background: url('./assets/img/bg_answer__wrong.png') no-repeat center center;
  opacity: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: rgba(0, 0, 0, 0.05); */
  position: relative;
  width: 100%;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.millionaire{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0 auto 100px;

  max-width: 1200px;
  width: 1200px;
  /* background-color: #fff;
  border-radius: 15px;
  padding: 15px; */
}

.millionaire__logo{
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 30px 0;
}

.logoKapitalBank{
  position: absolute;
  left: 30px;
  top: 30px;
  max-width: 80px;
}

.icon_right{
  position: absolute;
  top: 30px;
  max-width: 120px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.icon_right:hover{
  transform: scale(1.1);
}

.icon_right--fifty{
  right: 30px;
}

.icon_right--hall{
  right: 180px;
}

.millionaire__table{
  width: 100%;
  text-align: left;
  border-collapse: inherit;
  border-spacing: 0;
  font-size: 16px;
}

.millionaire__img{
  max-width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.millionaire__label{
  display: inline-block;
  vertical-align: middle;
}

.millionaire__table_wrap{
  position: relative;
}

.millionaire__table_wrap .loading{
  opacity: 0;
  transition: all .4s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.millionaire__table_wrap--loading{
  opacity: .6;
}

.millionaire__table_wrap--loading .loading{
  opacity: 1;
}

.millionaire__label--strong{
  font-weight: bold;
}

.millionaire__thead{
  background: rgba(210, 228, 255, .6)
}

.millionaire__table th{
  padding: 10px 10px;
}

.millionaire__table th:first-child{
  border-radius: 5px 0 0 0;
}

.millionaire__table th:last-child{
  border-radius: 0 5px 0 0;
}

.millionaire__table td{
  padding: 6px 10px;
  font-size: 15px;
}


.millionaire__table tr:nth-child(even) td{
  background: rgba(210, 228, 255, .3)
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
  margin: 20px auto 30px;
  padding: 0 100px;
  background: url('./assets/img/bg_question.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 120px;
  font-weight: bold;
  font-size: 40px;
  transition: all .3s ease-in-out;
}

.question.question--hide{
  color: transparent;
}

.answer{
  position: relative;
  display: flex;
  font-size: 26px;
  text-align: left;
  align-items: center;
  z-index: 2;
  margin: 0 auto 20px;
  background: url('./assets/img/bg_answer.png') no-repeat center center;
  padding: 0 40px;
  background-size: contain;
  width: 100%;
  height: 73px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease;
  opacity: .7;
  line-height: .8;
}

.answer.answer--hide{
  color: transparent;
}

.answer:hover{
  opacity: .99;
}

.answer--answer{
  background-image: url('./assets/img/bg_answer__right.png');
  opacity: .99;
  cursor: default;
}

.answer--wrong{
  background-image: url('./assets/img/bg_answer__wrong.png');
  opacity: .99;
  cursor: default;
}

.answer--right{
  background-image: url('./assets/img/bg_answer__right.png');
  opacity: .99;
  cursor: default;
}

.answer__letter{
  position: absolute;
  top: 50%;
  transform: translateY(-51%);
  color: #E4671E;
  display: table-cell;
  font-size: 30px;
}

.answer__text{
  margin-left: 40px;
}

.answer--answer .answer__letter,
.answer--right .answer__letter,
.answer--wrong .answer__letter{
  color: #fff;
}

.tooltip_text{
  width: 200px;
  padding: 10px;
}

.tooltip_text__title{
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px;
}

.tooltip_text__text{
  font-size: 20px;
}

.volume, .showRightAnswer{
  position: absolute;
  z-index: 2;
  left: 0px;
  bottom: 20px;
  border: 5px solid white;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  opacity: 0.04;
}

.showRightAnswer{
  right: 0px;
  left: auto;
}

.volume svg, .showRightAnswer svg{
  font-size: 30px;
}

.volume button, .showRightAnswer button{
  color: #fff;
}

.hallImg{
  width: 500px;
  margin-top: 30px;
}

.hideTwo .MuiGrid-container > div:nth-child(2n + 1) .answer {
  opacity: 0;
}

.rightAnswer .MuiGrid-container > div .answer__letter{
  color: #fff !important;
}

.rightAnswer .MuiGrid-container > div .answer{
  background-image: url('./assets/img/bg_answer.png');
  opacity: 1;
}

.rightAnswer .MuiGrid-container > div:nth-child(2) .answer {
  background-image: url('./assets/img/bg_answer__wrong.png') !important;
}

/* .rightAnswer .MuiGrid-container > div:nth-child(2) .answer {
  bg_answer
} */